* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.fc-view-harness.fc-view-harness-active {
    z-index: -1;
}

a {
    color: inherit;
    text-decoration: none;
}

.lottie_wrap {
    width: 60%;
    margin: auto;
    max-width: 500px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    ackground-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModal__Content.ReactModal__Content--after-open {
    inset: auto;
    background: #d2d4c2;
}

.ui_btn {
    padding: 15px 20px;
    width: 300px;
    margin: auto;
    display: block;
    border: none;
    border-radius: 3px;
}

.flex {
    display: flex;
}
